<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Date" value="2017-08-23"/>
    <add key="VirtualPlazas" value="120;121;157;158"/>
    <add key="VirtualPlazas" value="120;121;157;158"/>
    <add key="AvcSrcPath" value="\\10.49.10.20\Archive\"/>
    <add key="TrfSrcPath" value="\\10.49.20.20\Archive\"/>
    <add key="TgtPath" value="\\10.49.20.21\ITIS\"/>
    <add key="Servers" value="10.49.10.20;10.49.20.20;10.49.20.21"/>
  </appSettings>
</configuration>