<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<appSettings>
		<add key="SyncServiceAddress" value="net.msmq://10.47.20.20/private/synctest"/>
		<add key="ServiceNotificationsMailServer" value="172.16.1.210"/>
		<add key="ServiceServiceSender" value="DataImport,dataimport@tongaat.co.za"/>
		<add key="ServiceNotificationList" value="sjaffar@g5.co.za"/>
		<add key="HourlyJobCronSchedule" value="0 0/59 * 1/1 * ? *"/>
		<add key="TransactionsJobCronSchedule" value="0 0/5 * 1/1 * ? *"/>
		<add key="IncidentsJobCronSchedule" value="0/1 * * 1/1 * ? *"/>
		<add key="SessionsJobCronSchedule" value="0 0/5 * 1/1 * ? *"/>
		<add key="WatchdogJobCronSchedule" value="0 0/59 * 1/1 * ? *"/>
		<add key="RegisteredUsersJobCronSchedule" value="0 0/59 * 1/1 * ? *"/>
		<add key="AccountBalanceUpdateJobCronSchedule" value="0 0/1 * 1/1 * ? *"/>
		<add key="HotlistUpdateJobCronSchedule" value="0 0/1 * 1/1 * ? *"/>
	</appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_" sendTimeout="00:05:00" transactionFlow="false">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:3000/TollDataImportDataRequestService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_" contract="Intertoll.Toll.DataImport.DataRequest.ITollDataImportDataRequestService" name="TollDataRequest">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
