<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SyncServiceAddress" value="net.msmq://./private/sync"/>
  </appSettings>
  <system.serviceModel>
    <services>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="LargeQuotaBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.msmq://./private/sync" binding="netMsmqBinding" bindingConfiguration="MSMQSyncBinding" contract="Intertoll.Sync.Common.ISyncService" name="SyncServiceEndpoint"/>
    </client>
    <bindings>
      <netMsmqBinding>
        <binding name="MSMQSyncBinding" timeToLive="24.20:31:23">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="2147483647" maxSizeOfMessageToLog="2147483647"/>
      <endToEndTracing activityTracing="false"/>
    </diagnostics>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MailKit" publicKeyToken="4e064fe7c44a8f1b" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
