<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net45" />
  <package id="Intertoll.Encryption" version="1.0.3" targetFramework="net45" requireReinstallation="true" />
  <package id="Intertoll.Lane.Sync.Client" version="2.0.0.0" targetFramework="net45" requireReinstallation="true" />
  <package id="Intertoll.Logging" version="1.0.11" targetFramework="net45" requireReinstallation="true" />
  <package id="Intertoll.Mail" version="1.0.3" targetFramework="net45" requireReinstallation="true" />
  <package id="MailKit" version="1.4.0" targetFramework="net45" requireReinstallation="true" />
  <package id="MimeKit" version="1.4.0" targetFramework="net45" requireReinstallation="true" />
</packages>