<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DatabaseSyncEntities" connectionString="metadata=res://*/DtabaseSyncEntities.csdl|res://*/DtabaseSyncEntities.ssdl|res://*/DtabaseSyncEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TollDataImport;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogFile="c:\nlog.txt" internalLogLevel="Error">
    <extensions>
      <add assembly="NLog.Extended" />
    </extensions>
    <variable name="AppName" value="${processname}" />
    <variable name="SMTP" value="" />
    <targets>
      <target name="tracefile" type="File" layout="${level:uppercase=true} | ${longdate} | ${message} | ${event-context:MethodCallName} | ${event-context:FileName} | ${exception:format=ShortType,ToString,Method,StackTrace}" fileName="${basedir}/Logs/${AppName}.trace.log" archiveFileName="${basedir}/archives/trace/log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="30" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
      <target name="infofile" type="File" layout="${level:uppercase=true} | ${longdate} | ${message} | ${event-context:MethodCallName} | ${event-context:FileName} | ${exception:format=ShortType,ToString,Method,StackTrace}" fileName="${basedir}/Logs/${AppName}.info.log" archiveFileName="${basedir}/archives/info/log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="30" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
      <target name="errorfile" type="File" layout="${level:uppercase=true} | ${longdate} | ${message} | ${event-context:MethodCallName} | ${event-context:FileName} | ${exception:format=ShortType,ToString,Method,StackTrace}" fileName="${basedir}/Logs/${AppName}.error.log" archiveFileName="${basedir}/archives/error/log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="30" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
    </targets>
    <rules>
      <logger name="*" levels="Trace,Info" writeTo="tracefile" />
      <logger name="*" levels="Info" writeTo="infofile" />
      <logger name="*" levels="Error,Fatal" writeTo="errorfile" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="CheckDuplicatesOnExistingData" value="false"/>
    <add key="RegisteredAccountBatchSize" value="5000"/>
    <add key="MISDBConnectionString" value="Host=tongaat;Server=tongaat_tcp;Service=2000;Protocol=onsoctcp;UID=informix;Password=informix123;Database=tongaat;"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>