<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- CONFIGURATION SECTIONS-->
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!-- NLOG -->
  <nlog>
    <variable name="AppName" value="${processname}" />
    <targets>
      <target name="file" type="File" layout="${threadname}!|${date:format=yyyy-MM-dd HH\:mm\:ss.ffff}!|${logger}!|${message}!|${exception:format=tostring}!|" fileName="${basedir}/Logs/${AppName}.log" archiveFileName="${basedir}/archives/log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
      <target name="Mail" type="Mail" html="true" subject="Intertoll PCS DataIntergration Service Error" to="tlkekana@groupfive.co.za" from="DataIntergrationService@Mariannhill.co.za" Encoding="UTF-8" enableSsl="False" smtpServer="172.16.1.210" smtpPort="25" body="&lt;b&gt;Date:&lt;/b&gt; ${longdate} &lt;br /&gt;&lt;br /&gt;        &lt;b&gt;FileName:&lt;/b&gt; ${logger} &lt;br /&gt;&lt;br /&gt;        &lt;b&gt;FunctionName:&lt;/b&gt; ${event-context:MethodCallName} &lt;br /&gt;&lt;br /&gt;        &lt;b&gt;Message:&lt;/b&gt; ${message} &lt;br /&gt;&lt;br /&gt;        &lt;b&gt;StackTrace:&lt;/b&gt; ${exception:format=StackTrace} &lt;br /&gt;&lt;br /&gt;        &lt;b&gt;Appname:&lt;/b&gt; ${AppName}" addNewLines="true" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" minlevel="Error" writeTo="Mail" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="SyncServiceAddress" value="net.msmq://10.1.43.121/private/sync" />
    <add key="ProcessTransactionsAndIncidentsInterval" value="5" />
    <add key="HourlyAuditInterval" value="1" />
    <add key="HourlyAuditDate" value="2015/09/01 23:45" />
    <add key="TransactionStartDate" value="2015/09/01 23:45" />
    <add key="IncidentStartDate" value="2015/09/01 23:45" />
    
    <add key="EndOfDayTaskTime" value="2017/04/04 00:00:00" />
    <add key="HourlyAuditTime" value="2017/04/20 13:25:00" />
    <add key="DataAggregationQueueName" value=".\Private$\pcsdataggregation" />
    <add key="CommsUpdateInterval" value="60" />
    <add key="SendAliveMessageInterval" value="60" />
     
    <add key="NotificationsMailServer" value="172.16.1.210" />
    <add key="EmailNotificationFormat" value="Hi, &lt;br/&gt;&lt;br/&gt; {0} &lt;br/&gt;&lt;br/&gt; Regards, &lt;br/&gt;Admin Team" />
    <add key="ServiceSender" value="N3MH@groupfive.co.za" />
    <add key="NotificationList" value="tlkekana@groupfive.co.za" />
    <add key="MailSeverityLevel" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="Intertoll.PCS.DataIntergrationService.IntergrationService">
        <endpoint address="net.msmq://localhost/private/pcsdataggregation" binding="netMsmqBinding" bindingConfiguration="DataIntergrationBinding" contract="Intertoll.PCS.DataIntergration.Common.IPCSDataIntergrationAgentService" behaviorConfiguration="ETCEndPointBehaviour">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.msmq://localhost/private/pcsdataggregation" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="LargeQuotaBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
        <behavior name="ETCEndPointBehaviour">
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://10.1.46.56:8734/Intertoll/TSS2" binding="netTcpBinding" bindingConfiguration="netTCPTSSBinding" contract="Intertoll.TSS.Common.ITSSService" name="TSSEndpoint" />
      <endpoint address="net.tcp://10.1.46.56:8735/Intertoll/TSSUpdater/" binding="netTcpBinding" bindingConfiguration="netTCPTSSUpdaterBinding" contract="Intertoll.PCS.TSSUpdater.Common.ITSSUpdaterService" name="TSSUpdaterEndpoint" />
      <!--<endpoint address="net.msmq://10.1.43.121/private/ams_mg" binding="netMsmqBinding"
        bindingConfiguration="MSMQAMSBinding" contract="Intertoll.AMS.AccountProcessor.Common.IAccountProccessingService"
        name="AMSEndpoint" />-->
      <endpoint address="net.msmq://10.1.46.56/private/sync" binding="netMsmqBinding" bindingConfiguration="MSMQSYNCBinding" contract="Intertoll.Sync.Common.ISyncService" name="SyncServiceEndpoint" />
    </client>
    <bindings>
      <netMsmqBinding>
        <binding name="DataIntergrationBinding" maxReceivedMessageSize="2147483647">
          <security mode="None" />
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="MSMQNoSecurity">
          <security mode="None" />
        </binding>
        <binding name="MSMQSYNCBinding" timeToLive="24.20:31:23">
          <security mode="None" />
        </binding>
        <binding name="MSMQSyncBinding" timeToLive="24.20:31:23">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <netTcpBinding>
        <binding name="netTCPTSSBinding" sendTimeout="00:00:35">
          <security mode="None" />
        </binding>
        <binding name="netTCPTSSUpdaterBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="2147483647" maxSizeOfMessageToLog="2147483647" />
      <endToEndTracing activityTracing="false" />
    </diagnostics>
  </system.serviceModel>
  <connectionStrings>
    <add name="PCSDataIntergrationEntities" connectionString="metadata=res://*/PCSIntergrationDataModel.csdl|res://*/PCSIntergrationDataModel.ssdl|res://*/PCSIntergrationDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PCSSVStaging;persist security info=True;user id=pcsuser;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MailKit" publicKeyToken="4e064fe7c44a8f1b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>