<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogFile="c:\nlog.txt" internalLogLevel="Error">
  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>
  <variable name="AppName" value="Default ApplicationName or we could use ${processname}"/>
  <variable name="SMTP" value=""/>
  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <!--<To Log to DB>-->
    <target xsi:type="Database" name="LogErrorDB" connectionStringName="LogDB" keepConnection="false">
      <commandText>
        EXEC [dbo].[uspInsertApplicationLog]  @tiErrorType, @sCodeFileName, @sFunctionName, @sErrorMessage, @sStackTrace, @sComponentID, @sApplicationName
      </commandText>
      <parameter name="@tiErrorType" layout="${literal:text=3}"></parameter>
      <parameter name="@sCodeFileName" layout="${event-context:FileName}"></parameter>
      <parameter name="@sFunctionName" layout="${event-context:MethodCallName}"></parameter>
      <parameter name="@sErrorMessage" layout="${message}"></parameter>
      <parameter name="@sStackTrace" layout="${exception:format=StackTrace}"></parameter>
      <parameter name="@sComponentID" layout="${machinename}"></parameter>
      <parameter name="@sApplicationName" layout="${literal:text=${AppName}}"></parameter>
    </target>
    
    <!--<To email errors>-->
    <target xsi:type="Mail" name="LogErrorMail" html="true" to="to email addr"
           from="from email addr" smtpServer="${SMTP}"
           subject="Application Error in ${AppName} from ${machinename}"
           body="&lt;b&gt;Date:&lt;/b&gt; ${longdate} &lt;br /&gt;&lt;br /&gt;
                 &lt;b&gt;FileName:&lt;/b&gt; ${logger} &lt;br /&gt;&lt;br /&gt;
                 &lt;b&gt;FunctionName:&lt;/b&gt; ${event-context:MethodCallName} &lt;br /&gt;&lt;br /&gt;
                 &lt;b&gt;Message:&lt;/b&gt; ${message} &lt;br /&gt;&lt;br /&gt;
                 &lt;b&gt;StackTrace:&lt;/b&gt; ${exception:format=StackTrace} &lt;br /&gt;&lt;br /&gt;
                 &lt;b&gt;Appname:&lt;/b&gt; ${AppName}" addNewLines="true">
    </target>            

    <!--<To used with Log Exception>-->
    <target name="LogErrorFile" xsi:type="File"
      layout="${level:uppercase=true} | ${longdate} | ${message} | ${event-context:MethodCallName} | ${event-context:FileName} | ${exception:format=ShortType,ToString,Method,StackTrace}"
      fileName="${basedir}/logs/${AppName}.log"
      archiveFileName="${basedir}/archives/log.{#}.txt"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      maxArchiveFiles="7"
      concurrentWrites="true"
      keepFileOpen="false"
      encoding="iso-8859-2">
    </target>

    <!--<To be used with Debug logging Messages>-->
    <target name="LogMessageFile" xsi:type="File"
      layout="${level:uppercase=true} | ${longdate} | ${level} | ${event-context:Namespace} | ${event-context:MethodCallName} | ${message} | ${event-context:ParameterInfo} | ${event-context:ParameterInfo} | ${event-context:MethodResult}"
      fileName="${basedir}/logs/${AppName}Message.log"
      archiveFileName="${basedir}/archives/log.{#}.txt"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      maxArchiveFiles="7"
      concurrentWrites="true"
      keepFileOpen="false"
      encoding="iso-8859-2">
    </target>

    <!--<To be used with Log2console application>-->
    <target name="log2console"
        xsi:type="NLogViewer"
        address="udp4://localhost:7071">
    </target>            

    <!--<To log to Windows Eventlog>-->
    <!--<target name="ErrorLog" xsi:type="File"
         <target xsi:type="EventLog"
          name="String"
          layout="Layout"
          machineName="String"
          source="String"
          category="Layout"
          eventId="Layout"
          log="String" />
    </target>-->

    <!--<To log to cmd for debugging>-->
    <target name="console"
      xsi:type="ColoredConsole"
      layout="${level:uppercase=true} | ${longdate} | ${level} | ${event-context:Namespace} | ${event-context:MethodCallName} | ${message} | ${event-context:ParameterInfo} | ${event-context:ParameterInfo} | ${event-context:MethodResult}">
    </target>            
      
  </targets>
  <rules>
    <logger name="*" level="Error" writeTo="LogErrorDB"></logger>
    <logger name="*" level="Error" writeTo="LogErrorMail"></logger>
    <logger name="*" level="Error" writeTo="LogErrorFile" />
    <logger name="*" minlevel="Info"  writeTo="LogMessageFile"  />
    <logger name="*" minlevel="Info" writeTo="log2console" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>