<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<connectionStrings>
		<add name="DataImportEntities" connectionString="metadata=res://*/DataImport.csdl|res://*/DataImport.ssdl|res://*/DataImport.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.47.20.21;initial catalog=TollDataImport;user id=pcsuser;password=P@ssw0rd;MultipleActiveResultSets=True;App=TollDataImport&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogFile="c:\nlog.txt" internalLogLevel="Error">
		<extensions>
			<add assembly="NLog.Extended"/>
		</extensions>
		<variable name="AppName" value="${processname}"/>
		<variable name="SMTP" value=""/>
		<targets>
			<target name="tracefile" type="File" layout="${level:uppercase=true} | ${longdate} | ${message} | ${event-context:MethodCallName} | ${event-context:FileName} | ${exception:format=ShortType,ToString,Method,StackTrace}" fileName="${basedir}/Logs/${AppName}.trace.log" archiveFileName="${basedir}/archives/trace/log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="30" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2"/>
			<target name="infofile" type="File" layout="${level:uppercase=true} | ${longdate} | ${message} | ${event-context:MethodCallName} | ${event-context:FileName} | ${exception:format=ShortType,ToString,Method,StackTrace}" fileName="${basedir}/Logs/${AppName}.info.log" archiveFileName="${basedir}/archives/info/log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="30" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2"/>
			<target name="errorfile" type="File" layout="${level:uppercase=true} | ${longdate} | ${message} | ${event-context:MethodCallName} | ${event-context:FileName} | ${exception:format=ShortType,ToString,Method,StackTrace}" fileName="${basedir}/Logs/${AppName}.error.log" archiveFileName="${basedir}/archives/error/log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="30" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2"/>
		</targets>
		<rules>
			<logger name="*" levels="Trace,Info" writeTo="tracefile"/>
			<logger name="*" levels="Info" writeTo="infofile"/>
			<logger name="*" levels="Error,Fatal" writeTo="errorfile"/>
		</rules>
	</nlog>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<appSettings>
		<add key="SyncServiceAddress" value="net.msmq://10.47.20.20/private/synctest"/>
		<add key="ServiceNotificationsMailServer" value="172.16.1.210"/>
		<add key="ServiceServiceSender" value="DataImport,dataimport@tongaat.co.za"/>
		<add key="ServiceNotificationList" value="sjaffar@g5.co.za"/>
		<add key="HourlyJobCronSchedule" value="0 0/1 * 1/1 * ? *"/>
		<add key="TransactionsJobCronSchedule" value="0 0/1 * 1/1 * ? *"/>
		<add key="IncidentsJobCronSchedule" value="0 0/1 * 1/1 * ? *"/>
		<add key="SessionsJobCronSchedule" value="0 0/1 * 1/1 * ? *"/>
		<add key="WatchdogJobCronSchedule" value="0 0/1 * 1/1 * ? *"/>
		<add key="RegisteredUsersJobCronSchedule" value="0 0/1 * 1/1 * ? *"/>
		<add key="AccountBalanceUpdateJobCronSchedule" value="0 0/1 * 1/1 * ? *"/>
		<add key="HotlistUpdateJobCronSchedule" value="0 0/1 * 1/1 * ? *"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MailKit" publicKeyToken="4e064fe7c44a8f1b" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.8.6.0" newVersion="5.8.6.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<system.serviceModel>
		<services>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="LargeQuotaBehavior">
					<dataContractSerializer maxItemsInObjectGraph="2147483646"/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<client>
			<endpoint address="net.msmq://./private/sync" binding="netMsmqBinding" bindingConfiguration="MSMQSyncBinding" contract="Intertoll.Sync.Common.ISyncService" name="SyncServiceEndpoint"/>
		</client>
		<bindings>
			<netMsmqBinding>
				<binding name="MSMQSyncBinding" timeToLive="24.20:31:23">
					<security mode="None"/>
				</binding>
			</netMsmqBinding>
		</bindings>
		<diagnostics>
			<messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="2147483647" maxSizeOfMessageToLog="2147483647"/>
			<endToEndTracing activityTracing="false"/>
		</diagnostics>
	</system.serviceModel>
</configuration>
